
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ------------------------------ Variables ------------------------------ */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

$navbar-text: white;
// $navbar-text: #BDBDBD;
$navbar-text-highlighted: #FFDA56;
$cover-main-title: #D3D3D3;
$cover-subtitle: #FEECB3;
$top-main-title-color: #d2d2d2;
$subtitles-soft-yellow: #fdebb1;
$shadow-main-body: #6a6a6a;


$time-02s: 0.2s;
$time-05s: 0.5s;
$time-1s: 1s;
$time-15s: 1.5s;
$time-2s: 2s;
$time-3s: 3s;
$time-4s: 4s;



/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* --------------------------- General Settings -------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

*, *::before, *::after  {
	box-sizing: border-box;
	z-index: 1;
    scroll-behavior: smooth;
    margin: 0;
	padding: 0;
}

a, a:link, a:visited{
    text-decoration: none;
    // color: white;
}

li{
	list-style: none;
}

img{
	border: none;
	outline: none;
}

body{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    height: 100%;
}


/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ---------------------------- Useful Classes --------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

.hidden{
	visibility: hidden;
}
.visible{
	visibility: visible;
}
.no-shadow{
	box-shadow: none;
	-webkit-box-shadow: none;
}
/*/ ----------------------------------- /*/
//  Grid positions as classes
/*/ ----------------------------------- /*/
.first-col{
	grid-column: 1;
}
.second-col{
	grid-column: 2;
}
.third-col{
	grid-column: 3;
}
.fourth-col{
	grid-column: 4;
}
.fifth-col{
	grid-column: 5;
}
.sixth-col{
	grid-column: 6;
}
.seventh-col{
	grid-column: 7;
}

.first-row{
	grid-row: 1;
}
.second-row{
	grid-row: 2;
}
.third-row{
	grid-row: 3;
}
.fourth-row{
	grid-row: 4;
}
.fifth-row{
	grid-row: 5;
}
.sixth-row{
	grid-row: 6;
}
.seventh-row{
	grid-row: 7;
}

/*/ ----------------------------------- /*/
/*/ justifications and position control /*/
/*/ ----------------------------------- /*/
.just-right{
	justify-self: right;
}
.just-left{
	justify-self: left;
}
.just-center{
	justify-self: center;
}
.align-center{
	align-self: center;
}

.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}

/*/ text modifications /*/
.bold{
    font-weight: 800;
}
.black{
    font-weight: 900;
}
.underlined{
    text-decoration: underline;
}
.holy-shit{
    font-weight: 800;
    background : -moz-linear-gradient(50% -1.07% -90deg,rgba(253, 235, 177, 1) 1.01%,rgba(254, 224, 120, 1) 64.16%,rgba(255, 217, 85, 1) 100%);
    background : -webkit-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    background : -webkit-gradient(linear,50% -1.07% ,50% 101.09% ,color-stop(0.0101,rgba(253, 235, 177, 1) ),color-stop(0.6416,rgba(254, 224, 120, 1) ),color-stop(1,rgba(255, 217, 85, 1) ));
    background : -o-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    background : -ms-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$subtitles-soft-yellow', endColorstr='#FFD955' ,GradientType=0)";
    background : linear-gradient(180deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$subtitles-soft-yellow',endColorstr='#FFD955' , GradientType=0);
}
.holy-shit-big{
    padding: 0.4rem 1rem 0.4rem 1rem;
}
.holy-shit-medium{
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.holy-shit-huge{
    padding: 7.4rem;
    padding-left: 0.4rem;
}


/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ------------------------- Page Specific Styles ------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

/* Top Header Hero Image */
// #top-header{
.container-body-clear{
    // display: grid;
}
.container-top{
    height: 840px;
}
.container-bottom{
    height: 840px;
    position: relative;
    z-index: 0;
    .background-im-bottom, .full-screen-img-100h{
        z-index: 0;
    }
}
.full-screen-img-90h{
    position: relative;
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: 100% 50%;
}
.full-screen-img-100h{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.background-im-top{
    background-image: url(../img/top.jpg);
}
.background-im-bottom{
    background-image: url(../img/bottom.jpg);
}

.floating-container{
    position: absolute;
    left: 55%;
    // right: 197px;
    top: 40px;
    width: 455px;
    height: 460px;
}

/*/ ----------------------------------- /*/
/* Navigation Bar */
/*/ ----------------------------------- /*/
.navbar{
    z-index: 5;
    font-family: Oswald;
    font-size: 27px;
    letter-spacing: -1.35px;
    color: $navbar-text;
    margin-left: 2px;
    position: relative;
    display: flex;
    flex-flow: column;
    .navbar-item{
        margin-bottom: 0.3rem;
        .navbar-item-text{
            float: left;
            color: $navbar-text;
            position: relative;
            transition: color cubic-bezier(0.075, 0.82, 0.165, 1) $time-15s;
            &:hover{
                color: $navbar-text-highlighted;
            }
            &::before{
                content: '';
                background-color: $navbar-text-highlighted;
                height: 3px;
                width: 0px;
                left: 0px;
                bottom: -2px;
                opacity: 0;
                position: absolute;
                transition: 
                    width cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s,
                    opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
            }
            &:hover::before{
                width: 100%;
                opacity: 1;
            }        
        }
    }
}
.navbar-icons{
    z-index: 5;
    font-family: Oswald;
    opacity: 0.9;
    font-size: 27px;
    letter-spacing: -1.35px;
    color: $navbar-text;
    margin-left: 2px;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-self: center;
    .navbar-item{
        font-size: 2.1rem;
        color: $navbar-text;
        margin-right: 1.2rem;
        transition: 
            color cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s,
            transform cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
        &:hover{
            color: $navbar-text-highlighted;
            transform: scale(1.1);
        }
    }
}

.navbar-highlighted{
    color: $navbar-text-highlighted !important;
    // font-weight: 700;
}



.floating-container-bottom{
    display: grid;
    grid-template-columns: 300px 200px 300px;
    grid-template-rows: 50px 50px 100px 70px 50px;
    margin: 0 auto;
    width: 800px;
    padding-top: 17rem;
    z-index: 0;
    .top-title{
        font-size: 2.85rem;
        justify-self: end;
        color: white;
    }
    .top-subtitle {
        font-size: 1.4rem;
        margin: 10px -3px -7px 1px;
        justify-self: end;
        letter-spacing: -1.25px;
        color: $navbar-text-highlighted;
    }
    .job-title-wrapper {
        height: 2.2rem;
        opacity: 0.9;
        margin: 0.1rem 0.2rem;
        align-self: end;
        .job-title-text {
            a, a:visited{
                color: $navbar-text;
            }
            font-size: 1.3rem;
            color: $navbar-text;
            .your-company-name-simple{
                color: $navbar-text-highlighted;
            }
        }
    }
    .navbar{
        flex-direction: row;
        display: flex;
        justify-self: center;
        margin-top: 0rem;
        .navbar-item{
            list-style: none;
            margin: 0 1rem;
            white-space: nowrap;
            color: $navbar-text;
            .icon{
                color: white;
                font-size: 2.3rem;
            }
            transition: color cubic-bezier(0.075, 0.82, 0.165, 1) $time-1s;
            &:hover{
                color: $navbar-text-highlighted;
            }
        }
    }
    .navbar-icons{
        .navbar-item{
            margin: 0 1.2rem;
        }
    }
}

.top-title{
    color: $navbar-text;
    font-size: 4.4rem;
    margin-bottom: -16px;
    margin-left: -1px;
    letter-spacing: -3.7px;
}

.top-subtitle{
    font-family: Oswald;
    font-size: 2.3rem;
    letter-spacing: -2.05px;
    color: $subtitles-soft-yellow;
    font-weight: 400;
    margin: 1px 1px -7px 1px;
}

.job-title-wrapper{
    height: 3.1rem;
    background: #434A53;
    opacity: 0.8;
    margin: 1rem 0.2rem;
    .job-title-text{
        font-family: Oswald;
        font-size: 1.9rem;
        letter-spacing: 0.01px;
        font-weight: 400;
        text-align: center;
        color: $navbar-text;
        a, a:visited{
            color: $navbar-text;
        }
    }
}

.your-company-name{
    color : #FCE7A0;
    position: relative;
    &:hover{
        color: $navbar-text-highlighted;
    }
    &:after{
        content: '';
        position: absolute;
        height: 350px;
        width: 369px;
        border-right: 7px solid $subtitles-soft-yellow;
        border-bottom: 7px solid $subtitles-soft-yellow;
        top: 44px;
        left: -242px;
    }
    &:before{
        content: '';
        position: absolute;
        height: 194px;
        width: 7px;
        background-color: $subtitles-soft-yellow;
        top: 388px;
        left: -242px;
    }
}
.your-company-name-simple{
    color : #FCE7A0;
    position: relative;
}

.container-body-clear{
    position: relative;
    width: 100%;
}
.container-body-dark{
    position: relative;
    width: 100%;
    background : -moz-linear-gradient(0deg, #444B54 5.07%, #515964 55.01%, #59626f 100%);
    background : -webkit-linear-gradient(0deg, #444B54 5.07%, #515964 55.01%, #59626f 100%);
    background : -o-linear-gradient(0deg, #444B54 5.07%, #515964 55.01%, #59626f 100%);
    background : -ms-linear-gradient(0deg, #444B54 5.07%, #515964 55.01%, #59626f 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#434A53', endColorstr='#59626F' ,GradientType=0)";
    background: linear-gradient(0deg, #444B54 5.07%, #515964 55.01%, #59626f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59626F',endColorstr='#434A53' , GradientType=0);
}
.container-text{
    width: 85%;
    margin: 0 auto;
}
.container-text-quote{
    width: 65%;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.heres-the-thing-container{
    background : -moz-linear-gradient(50% -1.07% -90deg,rgba(253, 235, 177, 1) 1.01%,rgba(254, 224, 120, 1) 64.16%,rgba(255, 217, 85, 1) 100%);
    background : -webkit-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    background : -webkit-gradient(linear,50% -1.07% ,50% 101.09% ,color-stop(0.0101,rgba(253, 235, 177, 1) ),color-stop(0.6416,rgba(254, 224, 120, 1) ),color-stop(1,rgba(255, 217, 85, 1) ));
    background : -o-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    background : -ms-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$subtitles-soft-yellow', endColorstr='#FFD955' ,GradientType=0)";
    background : linear-gradient(180deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$subtitles-soft-yellow',endColorstr='#FFD955' , GradientType=0);
    font-family: 'Muli', sans-serif;
    width: 600px;
    height: 170px;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.body-title-1{
    font-family: Open Sans;
    font-size: 2.2rem;
    line-height: 3.5rem;
    color: #59626F;
    text-align: center;
    font-weight: 200;
}

.text-clear{
    font-family : Open Sans;
    font-size : 1.45rem;
    color : #59626F;
    color : rgb(89, 98, 111);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.text-clear-large{
    font-size : 2.0rem;
}
.svg-container{
    position: relative;
    height: 14rem;
}
.svg-container-bottom{
    position: relative;
    height: 5rem;
}
.section-change{
    height: 9rem;;
}

.text-quote-1{
    font-family : 'Muli', sans-serif;
    font-size: 1.9rem;
    line-height: 2.4rem;
    color : #59626F;
    font-weight: 200;
    font-style: italic;
}
.container-svg-title{
    font-family : 'Muli', sans-serif;
    width: 85%;
    margin: 0 auto;
}
.svg-title-text{
    font-family: 'Muli', sans-serif;
    font-size: 2.3rem;
    color: #59626F;
    position: relative;
    margin-bottom: 12rem;
    margin-top: 9rem;
}
.svg-title-quote-dark{
    font-family: 'Muli', sans-serif;
    font-size: 2.3rem;
    color : #FFD955;
    position: relative;
    margin-bottom: 12rem;
    margin-top: 9rem;
    font-weight: 300;
    font-style: italic;
}
.dark{
    color: white;
}
.dark-yellow{
    color : #FFD955;
}
.non-dark{
    color: #59626F;
}

.svg-title-text-tall{
    margin-top: 12rem;
    margin-left: 7%;
}

.numbered-list-1{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.numbered-list-2{
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.numbered-list-1-item{
    display: grid;
    grid-template-columns: 80px auto 80px;

}
.numbered-list-1-numeral{
    align-self: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 29px;
    color: #59626F;
    justify-self: center;
}
.numbered-list-1-item-text{
    margin-left: 1rem;
}
.numbered-list-1-numeral-wrapper{
    background : -moz-linear-gradient(50% -1.07% -90deg,rgba(253, 235, 177, 1) 1.01%,rgba(254, 224, 120, 1) 64.16%,rgba(255, 217, 85, 1) 100%);
    background : -webkit-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    background : -webkit-gradient(linear,50% -1.07% ,50% 101.09% ,color-stop(0.0101,rgba(253, 235, 177, 1) ),color-stop(0.6416,rgba(254, 224, 120, 1) ),color-stop(1,rgba(255, 217, 85, 1) ));
    background : -o-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    background : -ms-linear-gradient(-90deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$subtitles-soft-yellow', endColorstr='#FFD955' ,GradientType=0)";
    background : linear-gradient(180deg, rgba(253, 235, 177, 1) 1.01%, rgba(254, 224, 120, 1) 64.16%, rgba(255, 217, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$subtitles-soft-yellow',endColorstr='#FFD955' , GradientType=0);
    width: 45px;
    height: 45px;
    text-align: center;
}

.paragraph-section{
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}


























/*/ ----------------------------------- /*/
/*/             SVG Styles              /*/
/*/ ----------------------------------- /*/
//Custom
.svg-1{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 250px;
    top: -70px;
    overflow: visible;
}
.svg-2{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -169px;
    height: 395px;
}
.svg-3{
    width: 110%;
    height: 132%;
    position: absolute;
    z-index: -1;
    top: -94px;
    left: -5%;
}
.svg-4{
    width: 120%;
    position: absolute;
    z-index: -1;
    top: -130px;
    height: 345px;
    overflow: visible;
    left: -10%;
}
.svg-5{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 70px;
    height: 110px;
}
.svg-6{
    width: 130%;
    position: absolute;
    z-index: -1;
    height: 250px;
    top: -100px;
    overflow: visible;
    left: -20%;
}


//Auto Generated
.st0{fill:url(#SVGID_1_);}
.st1{fill:url(#SVGID_2_);}
.st2{display:none;}
.st3{display:inline;}
.st4{fill:url(#SVGID_3_);}
.st5{fill:#444B54;}
.st6{fill:#FFFFFF;}
.st7{fill:#F7F8F8;}
.st8{fill:#5B6370;}
.st9{fill:#F15E22;}
.st10{fill:#FFDA56;}
.st11{fill:#FDE8A1;}
.st12{fill:#596370;}
.st13{fill:#ECE8E0;}
.st14{fill:#7B8DA0;}
.st15{fill:#F47C39;}
.st16{fill:#2D4A9F;}
.st17{fill:#BDBDBD;}
.st18{fill:#838383;}
.st19{fill:#D3D3D3;}
.st20{fill:#FFF3EA;}
.st21{fill:#702E84;}
.st22{fill:#825899;}
.st23{fill:url(#SVGID_4_);}
.st24{filter:url(#Adobe_OpacityMaskFilter);}
.st25{opacity:0.36;mask:url(#SVGID_5_);}
.st26{clip-path:url(#SVGID_7_);}
.st27{clip-path:url(#SVGID_9_);}


.st9{fill:url(#highlight_back_yellow_1_);}



.st0{fill:url(#SVGID_1_);}
	.st1{fill:url(#SVGID_2_);}
	.st2{display:none;}
	.st3{display:inline;}
	.st4{fill:url(#SVGID_3_);}
	.st5{fill:#444B54;}
	.st6{fill:#FFFFFF;}
	.st7{fill:#F7F8F8;}
	.st8{fill:#5B6370;}
	.st9{fill:#F15E22;}
	.st10{fill:#FFDA56;}
	.st11{fill:#FDE8A1;}
	.st12{fill:#596370;}
	.st13{fill:#ECE8E0;}
	.st14{fill:#7B8DA0;}
	.st15{fill:#F47C39;}
	.st16{fill:#2D4A9F;}
	.st17{fill:#BDBDBD;}
	.st18{fill:#838383;}
	.st19{fill:#D3D3D3;}
	.st20{fill:#FFF3EA;}
	.st21{fill:#702E84;}
	.st22{fill:#825899;}
	.st23{fill:url(#SVGID_4_);}
	.st24{filter:url(#Adobe_OpacityMaskFilter);}
	.st25{opacity:0.36;mask:url(#SVGID_5_);}
	.st26{clip-path:url(#SVGID_7_);}
    .st27{clip-path:url(#SVGID_9_);}
    



/*/ -----------------------------------------------------------------/*/
/*/ -------------------    500px screen sizes     -------------------/*/
/*/ -----------------------------------------------------------------/*/
@media(max-width: 500px){

    body{

    }

}



/*/ -----------------------------------------------------------------/*/
/*/ -------------------   1450px screen sizes     -------------------/*/
/*/ -----------------------------------------------------------------/*/
@media(min-width: 1450px){

    .main-bm{
        background-color: #ffe171;
    }
    .shadow-holder{
        margin: 0 auto;
        max-width: 1450px;
        -webkit-box-shadow: 0 0 100px -20px $shadow-main-body;
        -moz-box-shadow: 0 0 100px -20px $shadow-main-body;
        box-shadow: 0 0 100px -20px $shadow-main-body;
        overflow: hidden;
    }
    .container-body-clear, .container-body-dark, .container-bottom{
        background-color: white;
        margin: 0 auto;
        max-width: 1450px;
        // border-right: 5px solid red;
        // border-left: 5px solid red;
    }

}


/*/ -----------------------------------------------------------------/*/
/*/ -------------------   1095px screen sizes     -------------------/*/
/*/ -----------------------------------------------------------------/*/
@media(max-width: 1095px){

    .body-title-1{
        font-size: 2rem;
    }
    .svg-title-text{
        font-size: 2rem;
    }
    .text-quote-1{
        font-size: 1.7rem;
    }
    .svg-title-quote-dark{
        font-size: 2rem;
    }
    .floating-container {
        right: 38px;
        left: auto;
    }
    
}

/*/ -----------------------------------------------------------------/*/
/*/ -------------------   785px screen sizes     -------------------/*/
/*/ -----------------------------------------------------------------/*/
@media(max-width: 785px){

    .body-title-1{
        font-size: 2rem;
    }
    .svg-title-text{
        font-size: 2rem;
    }
    .text-quote-1{
        font-size: 1.7rem;
    }
    .svg-title-quote-dark{
        font-size: 2rem;
    }
    .floating-container {
        right: 38px;
        left: auto;
    }
    .full-screen-img-90h {
        background-position: -441px 50%;
    }
    .container-text{
        width: 90%;
    }
    .numbered-list-1-item {
        grid-template-columns: 50px auto 10px;
        margin-bottom: 1rem;
    }
    .container-text-quote {
        width: 75%;
    }
    .heres-the-thing-container {
        width: 560px;
        height: 140px;
    }
}

/*/ -----------------------------------------------------------------/*/
/*/ -------------------   847px screen sizes     -------------------/*/
/*/ -----------------------------------------------------------------/*/
@media(max-width: 847px){
    
    .floating-container-bottom {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 50px 50px 60px 50px 50px 50px;
        margin: 0 auto;
        width: auto;
        padding-top: 17rem;
        z-index: 0;
        /* position: absolute; */
        left: 30%;
        .top-title {
            justify-self: center;
            grid-row: 1;
            grid-column: 1;
        }
        .top-subtitle{
            justify-self: center;
            grid-row: 2;
            grid-column: 1;
        }
        .nextremer{
            grid-row: 3;
            grid-column: 1;
    
        }
        .your-c{
            grid-row: 4;
            grid-column: 1;
        }
        .navbar-icons{
            grid-row: 6;
            grid-column: 1;
        }
    }
    .container-bottom .background-im-bottom, .container-bottom .full-screen-img-100h {
        z-index: 0;
        display: flex;
    }
}




/*/ -----------------------------------------------------------------/*/
/*/ -------------------    375px screen sizes     -------------------/*/
/*/ -----------------------------------------------------------------/*/
@media(max-width: 420px){
    
    .full-screen-img-90h {
        background-position: -441px -108px;
    }






    .floating-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .top-title {
            color: white;
            font-size: 3.2rem;
            margin-bottom: -16px;
            margin-left: -1px;
            letter-spacing: -3.6px;
            text-align: center;
            margin-top: 52vh;
        }
        
        .top-subtitle{
            font-family: Oswald;
            font-size: 1.7rem;
            letter-spacing: -2.05px;
            color: #fdebb1;
            font-weight: 400;
            margin: 1px 1px 6px 1px;
            text-align: center;
        }
        .job-title-wrapper {
            height: 2.4rem;
            background: #434A53;
            opacity: 0.8;
            margin: 0.2rem 0rem;
            /* width: 317px; */
            .job-title-text {
                font-family: Oswald;
                font-size: 1.4rem;
                letter-spacing: 0.01px;
                font-weight: 400;
                text-align: center;
                color: white;
            }
        }
        .navbar-icons {
            z-index: 5;
            font-family: Oswald;
            opacity: 0.9;
            font-size: 27px;
            letter-spacing: -1.35px;
            color: white;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-flow: row;
            justify-self: center;
            margin-top: 0.7rem;
        }
    }
}





@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}